.pokemons{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pokemon{
    margin: .5rem ;
    padding: 2rem 1rem;
    background-color: #49d0ba;
    color: white;
    border-radius: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: self-end; 
}

.pokemon .detail .types{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pokemon .detail  .types .type{
    font-weight: 500;
    border-radius: 1rem;
    background-color: #61e1ca;
    color: white;
    padding: .20rem .6rem;
    font-size: .625rem;
    margin: .2rem 0;
}
.pokemon .number{
    text-align: right;
    color: gray;
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}
.pokemon .name{
    margin: .25rem 0;
    color: white;
}
@media screen and (min-width: 768px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 550px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 350px ) {
    .pokemons{
        grid-template-columns: 1fr;
    }
}
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
